.login-container {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(182, 170, 151);
    padding: 30px;
    border-radius: 10px;
}

.login-container h1 {
    text-align: center;
    color: rgb(3, 10, 23);
    margin-bottom: 20px;
}
.login-link{
    margin-top: 15px;
}
.google-button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: wheat;

}
