.service-container{
background-color: rgb(208, 223, 252);
margin: 10px;
border-radius: 10px;

}
.service-container img{
    margin-top: 10px;
    border-radius: 10px;

}
.service-container p{
    margin: 10px;
}
.service-container h6{
    text-align: start;
    margin-left: 10px;
    color: red;
}
.service-container button{
    padding: 10px;
    margin-bottom: 5px;
    color: wheat;
    font-size: 20px;
    background-color: rgb(12, 125, 167);
    border-radius: 10px;
    border: none;
    width: 90%;
    
    
}