.header-container{
position: sticky;
top: 0;
justify-content: end;
background-color: rgb(238, 232, 232);
}
.gunius-header{
    
}
.header-logo{
    width: 90px;
    border-radius: 40px;

}
.nav-container{
    margin-left: 55%;
}
.nav-container a{
    font-size: 20px;
    color: rgb(255, 255, 253);
    text-decoration: none;
    margin-left: 20px;  
}
.nav-container a:hover{
    color: yellow;
}
.log-out-button{
    background-color:blueviolet;
    border: none;
    margin-top: 2px;
    font-size: 20px;

}