.header-container{
position: sticky;
top: 0;
justify-content: end;
background-color: rgb(56, 61, 163);
}

.header-logo{
    width: 90px;
    border-radius: 40px;

}
.nav-container{
    margin-left: 55%;
}
.nav-container a{
    font-size: 20px;
    color: rgb(255, 255, 253);
    text-decoration: none;
    margin-left: 20px;  
}
.nav-container a:hover{
    color: yellow;
}
.log-out-button{
    background-color:rgb(236, 178, 5);
    border: none;
    border-radius: 20px;
    font-size: 17px;
}
@media only screen and (max-width:576px) {
    .log-out-button{
        width: 60px;
        padding: 5px;
        margin-left: 80px;
    }
    
}